doctype html

html(lang='en')
  head
    meta(charset='utf-8')
    meta(name="viewport" content="initial-scale=1.0, width=device-width")
    
    title Slider

  body

    .page-wrapper
      .demo-slider
        .demo-slider__scale
        .demo-slider__min-value
          p min
          input.demo-slider__min-value-input
        .demo-slider__max-value
          p max
          input.demo-slider__max-value-input
        label.demo-slider__value-label-switcher
          input(type="checkbox").demo-slider__value-label-switcher-input
          p Show value label

      .demo-slider
        .demo-slider__scale
        .demo-slider__min-value
          p min
          input.demo-slider__min-value-input
        .demo-slider__max-value
          p max
          input.demo-slider__max-value-input
        label.demo-slider__value-label-switcher
          input(type="checkbox").demo-slider__value-label-switcher-input
          p Show value label

      .demo-slider
        .demo-slider__scale
        .demo-slider__min-value
          p min
          input.demo-slider__min-value-input
        .demo-slider__max-value
          p max
          input.demo-slider__max-value-input
        label.demo-slider__value-label-switcher
          input(type="checkbox").demo-slider__value-label-switcher-input
          p Show value label

      .demo-slider
        .demo-slider__scale
        .demo-slider__min-value
          p min
          input.demo-slider__min-value-input
        .demo-slider__max-value
          p max
          input.demo-slider__max-value-input
        label.demo-slider__value-label-switcher
          input(type="checkbox").demo-slider__value-label-switcher-input
          p Show value label

      .demo-slider.demo-slider_vertical
        .demo-slider__scale.demo-slider__scale_vertical
        .demo-slider__min-value.demo-slider__min-value_vertical
          p min
          input.demo-slider__min-value-input
        .demo-slider__max-value.demo-slider__max-value_vertical
          p max
          input.demo-slider__max-value-input
        label.demo-slider__value-label-switcher.demo-slider__value-label-switcher_vertical
          input(type="checkbox").demo-slider__value-label-switcher-input
          p Show value label

      .demo-slider.demo-slider_vertical
        .demo-slider__scale.demo-slider__scale_vertical
        .demo-slider__min-value.demo-slider__min-value_vertical
          p min
          input.demo-slider__min-value-input
        .demo-slider__max-value.demo-slider__max-value_vertical
          p max
          input.demo-slider__max-value-input
        label.demo-slider__value-label-switcher.demo-slider__value-label-switcher_vertical
          input(type="checkbox").demo-slider__value-label-switcher-input
          p Show value label

      .demo-slider.demo-slider_vertical
        .demo-slider__scale.demo-slider__scale_vertical
        .demo-slider__min-value.demo-slider__min-value_vertical
          p min
          input.demo-slider__min-value-input
        .demo-slider__max-value.demo-slider__max-value_vertical
          p max
          input.demo-slider__max-value-input
        label.demo-slider__value-label-switcher.demo-slider__value-label-switcher_vertical
          input(type="checkbox").demo-slider__value-label-switcher-input
          p Show value label

      .demo-slider.demo-slider_vertical
        .demo-slider__scale.demo-slider__scale_vertical
        .demo-slider__min-value.demo-slider__min-value_vertical
          p min
          input.demo-slider__min-value-input
        .demo-slider__max-value.demo-slider__max-value_vertical
          p max
          input.demo-slider__max-value-input
        label.demo-slider__value-label-switcher.demo-slider__value-label-switcher_vertical
          input(type="checkbox").demo-slider__value-label-switcher-input
          p Show value label