* {
  box-sizing: border-box;
}

.slider-wrapper {
  width: 50%;
  height: 400px;
  padding: 100px 0;
  margin: auto;
}

.page-wrapper {
  width: 80%;
  padding: 40px 0;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.demo-slider {
  width: 100%;
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid #eee;

  &__scale-wrapper {
    width: 40%;
    //height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__panel-wrapper {
    width: 40%;
  }

  &__value {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__value-input {
    width: 70px;
    height: 40px;
    margin-left: 10px;
    padding: 0 10px;
    border: 1px solid #444;
    border-radius: 5px;
  }

  &__switcher {
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__default-values {
    width: 100%;
  }
}